section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #e2c499;
    padding: 10vmin;
}


#delete{
    cursor: pointer;
    font-size: xx-large;
    text-align: center;
    height: 1.5em;
    width: 80vmin;
    border: none;
    background-color: #c8000A;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    margin-top: 10px;
}

#delete:hover{
    background-color: #8c0004;
}




@media (min-width: 1200px) {
    section .cardimage{
        padding: 10vmin;
        width: 50%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

    section .cardimage{
        padding: 10vmin;
        width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    section .cardimage{
        padding: 10vmin;
        width: 50%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    section .cardimage{
        padding: 10vmin;
        width: 70%;
    }
}

@media (max-width: 575.98px) {
    section .cardimage{
        padding: 10vmin;
        width: 90%;
    }
}